    {{>head}}

<body>

    {{>nav}}

    <h2>this is about page</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, suscipit laborum? Voluptatem corporis ipsam, ratione accusamus fuga in unde! Fugiat labore, quo omnis quod tempora optio eum maiores reiciendis asperiores magnam accusantium ut doloremque, vitae doloribus ratione? Modi ratione numquam saepe excepturi obcaecati deleniti fugiat necessitatibus voluptatibus laudantium similique at enim veritatis voluptas consequatur veniam tempora nostrum omnis, dignissimos voluptate id atque dolorum! A deserunt perferendis facilis ipsum repellendus dolore quaerat. Dolor ea facilis voluptates ducimus architecto in accusamus odit quae corporis at? Eum possimus atque id delectus similique ad, sapiente repudiandae nobis labore neque natus nam quibusdam doloribus itaque libero nemo iste, molestiae, eligendi facere qui ipsam nesciunt unde. Dolorem, aliquid facilis? Ipsam vel vitae neque iure repellat aperiam quam labore delectus temporibus, aspernatur quod adipisci corrupti sequi vero nobis doloribus eaque facilis debitis maxime impedit optio. Atque maxime reiciendis impedit! Pariatur aspernatur dolores vero, dicta magni aliquam. Repellat eius voluptate perferendis optio ipsam. Quis, earum perferendis? Temporibus blanditiis consectetur cum alias nobis debitis fuga magnam et tempora! Unde incidunt architecto quisquam distinctio totam dolorum, nobis quasi. Ullam qui quae voluptate corporis quod animi earum ratione molestiae explicabo vitae, labore ex asperiores quam dolore deserunt? Perspiciatis fuga velit dolorum?</p>

    {{>footer}}
    
</body>
</html>

