{{>head}}
<body>   
{{>nav}}
<p class="p-4">hello we are in the {{country}} and the city is {{city}}</p>
<div class="p-5">
    <img src="https://images.pexels.com/photos/285223/pexels-photo-285223.jpeg?auto=compress&cs=tinysrgb&w=1600&lazy=load" alt="">
</div>
{{>footer}}
</body>
